<div class="row">
		<section class="col-xs-6">
			<h2>СОИСКАТЕЛЬ</h2>
			<%= link_to "Sign up as a Jobseeker", new_user_registration_path, class: "btn btn-large btn-primary" %>
			<%= link_to 'Sign in', new_user_session_path, class: "btn btn-large btn-primary" %> 
		</section>
		<section class="col-xs-6">
			<h2>РАБОТОДАТЕЬ</h2>
			<%= link_to "Sign up as a Company", '#', class: "btn btn-large btn-primary" %>
		</section>
	</div>
	<section class="container">
		
		<%= link_to "Список компаний с открытыми вакансиями", controller: 'companies' %>

	</section>

