<div class="row">
		<section class="col-xs-6">
			<h2>СОИСКАТЕЛЬ</h2>
			<%= link_to "Sign up as a Jobseeker", signup1_path, class: "btn btn-large btn-primary" %>
		</section>
		<section class="col-xs-6">
			<h2>РАБОТОДАТЕЬ</h2>
			<%= link_to "Sign up as a Company", '#', class: "btn btn-large btn-primary" %>
		</section>
	</div>
	<section class="container">
		
		<%= link_to "Список компаний с открытыми вакансиями", controller: 'companies' %>

	</section>

