<!DOCTYPE html>
<html>
<head>
  <title>Vacancy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="hero-unit">
		<h1>VACANCY</h1>
		<p>Добро пожаловать на сайт поиска вакансий</p>
	</header>
	<%= yield %>
</body>
</html>
